<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Définition du bean Dao -->
    <bean id="dao" class="app.DaoImpl"/>

    <!-- Définition du bean Metier avec injection du bean Dao -->
    <bean id="metier" class="app.MetierImpl">
        <property name="dao" ref="dao"/>
    </bean>
</beans>
